<section class="alt-section section-appliance">

	<h3 id="#appliances">- - - Appliances - - -</h3>
	
	<div class="appliance-belt">
	
		<div class="thumb-wrap">			
			<div class="thumb-container">
				{% for appliance in site.data.settings.appliances %}
				<div class="thumb-unit" data-folder="{{appliance.folder}}" style="background-image: url(/assets/img/appliances/{{appliance.folder}}/thumb.jpg);"> 
				<div class="thumb-overlay">
					<strong>{{ appliance.name }}</strong>
				</div>
			</div>
			{% endfor %}
			</div>
		</div>
						
		<div class="appliance-wrap">
			<div class="appliance-container">
				<div class="appliance-return">{% include icons/icon-back.html %}</div>
				<h4 class="appliance-title"></h4>
				<div class="appliance-load"></div>
			</div>
		</div>
	</div>
</section>
